@{
    Layout = null;
}

<style>
    .red {
        color: red;
    }

</style>


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Introducción a JS y jQuery</title>
</head>
<body>
    <h1 id="titulo">Hola mundo</h1>
    <button>Cambiar color</button>

    <div id="contenido">
        <div>
            <p>Parrafo</p>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/js/main.js"></script>
</body>
</html>





