
<br />

<a id="add" class="btn btn-primary">añadir fila</a>

<form action="/home/create" method="post">

    <table class="table">
        <thead>
            <tr>
                <th>Nombre Productos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" name="productos[0].Nombre" />
                </td>
            </tr>
        </tbody>
    </table>

    

    <button>Guardar </button>

</form>

<script>
    var i = $('table tbody tr').length;
    $("#add").on('click', function (e) {
        e.preventDefault();

        $('table tbody').append(`
        <tr>
            <td>
            <input type="text" name="productos[${i}].Nombre" />
            </td>
        </tr>`);
        i++;
    });
</script>