
@{
    ViewData["Title"] = "Create";
}

<h2>Marcar pelicula</h2>

<div class="row">
    <div class="col-md-6">

        <form action="/pelicula/CheckFavorite?Id=@Model.Id" method="post">

            <div class="form-group">
                <label>Código</label>
                <input type="text" readonly class="form-control" name="Code" value="@Model.Code" />
            </div>

            <div class="form-group">
                <label>Nombre</label>
                <input type="text" readonly class="form-control" name="Name" value="@Model.Name" />
            </div>

            <div class="form-group">
                <label>¿Es Favorito?</label>
                <input type="checkbox" name="esFavorito" value="true" />
                <input type="hidden" name="esFavorito" value="false" />
            </div>


            <button class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>

